@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply appearance-none border border-gray-300 rounded w-full py-2 px-3 leading-tight;
}

.btn {
  @apply border border-gray-300 px-4 py-2 rounded;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
